.navbar-main{
    background-color: #a6bbff ;
    width:100%;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: right;


}

.navbar-main ul{
    display: flex;
    margin-right: 10%;
    
}

.navbar-main ul li{
    list-style-type: none;
    margin-right: 50px;
    color: rgb(26, 4, 110);
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.navbar-main ul li:hover{
    color: #5a678f;

}