.home {
  /* full screen height. */
  height: 100vh;
  color: rgb(26, 4, 110);
  background-color: #d4dcf6c7;
  position: relative;
}
/* before means to add item behind the color, center image, no repeat, and cover the entire area provided */
.home:before {
  content: "";
  background: url("../../Images/zixi-zhou-Ic8B165N1og-unsplash.jpg") no-repeat
    center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.home-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.view-details-home-button{
    background-color: #0741ffc7;
    text-align: center;
    color:white;
    width: 50%;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.view-details-home-button:hover {
    background-color: #ffffff;
    text-align: center;
    width: 50%;
    color:black;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 1s;
}

.theme-change{
  justify-content: center;
  height: 50px;
  width: 50px;
  right: 0;
  margin-right: 10px;
  background-color:  #2751d9;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  position: fixed;
  top: 150;
  color:white;
  margin-top:250px;
  border-radius: 7px;
  cursor: pointer;
  z-index: 1;
}

@media (max-width:1000px){
 .theme-change{
  display: none;
 }


}