::-webkit-scrollbar{
  width: 8px;

}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #2751d9;  
}

::-webkit-scrollbar-thumb{
  background-color: rgb(26, 4, 110);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #6d8ffe;

}
#dark{
  background-color: rgb(51, 51, 51);
  
}
