.contact-section{
  height: auto;
  margin-top: 75px;
  position: relative;
}
.image-class img{
  height:700px; 
  width:100%;
  border-radius: 50px;
}

.contact-form-design{
  padding:30px;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.34); 
  -moz-box-shadow: -13px 4px 8px 2px rgba(0,0,0,0.56); 
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.34);
}

.contact-form-design input{
  height:30px;
  width:100%;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.custom-select{
  height:45px;
  width:100%;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}