.contact-section{
  height: 70vh;
  margin-top: 75px;
  position: relative;
}
.image-class{
  content: "";
  background: url("https://images.unsplash.com/photo-1504297050568-910d24c426d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
    no-repeat center center/cover;
    height: 700px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
}
