.team-members{
    height: 1200px;
}
.team-members-item img{
    height: 240px;
    cursor: pointer;
    object-fit: cover;
}
.team-members-item{
    margin-top: 30px;
    height: auto;
    overflow: hidden;
}
.card{
    border: none;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.34); 
    -moz-box-shadow: -13px 4px 8px 2px rgba(0,0,0,0.56); 
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.34);
    cursor: pointer;
}

.team-info{
    padding: 10px;
}