.footer{
    height: auto;
    margin: 0px;
    background-color: rgb(26, 4, 110);
}
.footer-about-section{
    color: white;
    

}
.social-icons {
    display: flex;
    cursor: pointer;
    color: greenyellow;
}

.social-icons p{
    margin-right: 10px
}
.footer-item li {
    color: white;
    list-style-type: none;
    padding-top: 10px;
}